# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_TOPIC=nids.raw.packets
KAFKA_GROUP_ID=nids-postgres-sink
KAFKA_CLIENT_ID=nids-client

# PostgreSQL, w jalankan pake dbngin 
#(lebih baik pake password, password kosong sebenarnya bisa tp python gksuka)
PGHOST=localhost
PGPORT=5432
PGDATABASE=nids
PGUSER=postgres
PGPASSWORD=postgres
